basePath: /api/v1
definitions:
  entity.HTTPError:
    properties:
      code:
        type: integer
      message:
        type: string
    type: object
  job_route.createJobRequestBody:
    properties:
      description:
        type: string
    type: object
  job_route.createJobResponse:
    properties:
      created_at:
        type: string
      message:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: |-
    Illustration of uncle Bob's clean architecture using a demo blogs api.
    It serves as Blog.
  title: ACTSML Gin Gonic golang Clean Architecture Orchestrator.
  version: "1.0"
paths:
  /jobs/create-job/:
    post:
      consumes:
      - application/json
      description: Create a Job
      operationId: Create a Job
      parameters:
      - description: Create job request body
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/job_route.createJobRequestBody'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/job_route.createJobResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/entity.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/entity.HTTPError'
      summary: Create a Job
      tags:
      - Job
securityDefinitions:
  BasicAuth:
    type: basic
swagger: "2.0"
