basePath: /api/v1
definitions:
  entity.HTTPError:
    properties:
      code:
        type: integer
      message:
        type: string
    type: object
  job_route.createJobResponse:
    properties:
      experiment_id:
        type: string
      job_id:
        type: string
      k8s_job_name:
        type: string
      project_id:
        type: string
      status:
        type: string
      submitted_at:
        type: string
    type: object
  job_route.getJobStatusResponse:
    properties:
      job_id:
        type: string
      k8s_conditions: {}
      status:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: |-
    Illustration of uncle Bob's clean architecture using a demo blogs api.
    It serves as Blog.
  title: ACTSML Gin Gonic golang Clean Architecture Orchestrator.
  version: "1.0"
paths:
  /jobs/{id}/status:
    get:
      description: Get status of a Kubernetes training job
      operationId: Get Job Status
      parameters:
      - description: Job ID (actsml-job-{uuid})
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/job_route.getJobStatusResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/entity.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/entity.HTTPError'
      summary: Get Job Status
      tags:
      - Job
  /jobs/create:
    post:
      consumes:
      - application/json
      description: Create a Kubernetes training job
      operationId: Create a Job
      parameters:
      - description: Job payload (raw JSON)
        in: body
        name: request
        required: true
        schema:
          type: object
      produces:
      - application/json
      responses:
        "202":
          description: Accepted
          schema:
            $ref: '#/definitions/job_route.createJobResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/entity.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/entity.HTTPError'
      summary: Create a Job
      tags:
      - Job
securityDefinitions:
  BasicAuth:
    type: basic
swagger: "2.0"
